/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import "tailwindcss";

/* Định nghĩa custom theme cho Tailwind v4 */
@theme {
  --color-wood: #f3e5d3;
  --color-paper: #fdfdf8;
  --color-text-main: #5D4037;
  --color-primary: #8D6E63;
  --color-accent: #FFB300;
  
  --font-family-serif: "Noto Serif", Georgia, serif;
  --font-family-sans: Inter, system-ui, sans-serif;
}

/* Áp dụng theme cho body */
body {
  background-color: var(--color-wood);
  color: var(--color-text-main);
  font-family: var(--font-family-serif);
}